NODE_ENV=development
PORT=4000
MONGO_URI=your_mongo_uri
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
RESEND_KEY=your_resend_key
BASE_URI=localhost:4000
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
SESSION_SECRET=your_session_secret_here
FRONTEND_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379